* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid palevioletred; */
}

body {
  color: white;
  background-color: #202124;
  font-family: 'Inter', sans-serif;
}

input, textarea {
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 4px;
  border: 1px solid #725fca;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
}

input:focus, textarea:focus {
  border-color: transparent;
  outline-color: palevioletred
  ;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note__header {
  display: grid;
  padding: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.search {
  display: grid;
  column-gap: 5px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
#btn-search {
  height: 2.5rem;
  padding: 3px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: max-content;
  background-color: greenyellow;
}

.note-input {
  width: auto;
  padding: 2rem;
}

form {
  display: grid;
}

.note-list {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

